@page
@model DrugPrevention.RazorWebApp.TuyenTM.Pages.OrganizationProgramTuyenTM.DetailsModel

<div>
    <h4>OrganizationProgramsTuyenTM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationProgramsTuyenTM.JoinedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationProgramsTuyenTM.JoinedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationProgramsTuyenTM.ContributionDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationProgramsTuyenTM.ContributionDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationProgramsTuyenTM.IsSponsor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationProgramsTuyenTM.IsSponsor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationProgramsTuyenTM.IsOrganizer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationProgramsTuyenTM.IsOrganizer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationProgramsTuyenTM.ProgramRole)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationProgramsTuyenTM.ProgramRole)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationProgramsTuyenTM.FundingAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationProgramsTuyenTM.FundingAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationProgramsTuyenTM.Feedback)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationProgramsTuyenTM.Feedback)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationProgramsTuyenTM.LastUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationProgramsTuyenTM.LastUpdated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationProgramsTuyenTM.Organization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationProgramsTuyenTM.Organization.OrganizationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationProgramsTuyenTM.ProgramToanNS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationProgramsTuyenTM.ProgramToanNS.ProgramName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OrganizationProgramsTuyenTM.OrganizationProgramTuyenTMID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
