@page
@model DrugPrevention.RazorWebApp.TuyenTM.Pages.OrganizationTuyenTM.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrganizationsTuyenTM</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationsTuyenTM.OrganizationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationsTuyenTM.OrganizationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationsTuyenTM.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationsTuyenTM.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationsTuyenTM.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationsTuyenTM.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationsTuyenTM.ContactEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationsTuyenTM.ContactEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationsTuyenTM.ContactPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationsTuyenTM.ContactPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationsTuyenTM.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationsTuyenTM.Website)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationsTuyenTM.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationsTuyenTM.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationsTuyenTM.IsPartner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationsTuyenTM.IsPartner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizationsTuyenTM.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrganizationsTuyenTM.IsActive)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OrganizationsTuyenTM.OrganizationTuyenTMID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
