@page
@model DrugPrevention.RazorWebApp.TuyenTM.Pages.OrganizationTuyenTM.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationsTuyenTM[0].OrganizationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationsTuyenTM[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationsTuyenTM[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationsTuyenTM[0].ContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationsTuyenTM[0].ContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationsTuyenTM[0].Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationsTuyenTM[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationsTuyenTM[0].IsPartner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrganizationsTuyenTM[0].IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrganizationsTuyenTM) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPartner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrganizationTuyenTMID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrganizationTuyenTMID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrganizationTuyenTMID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
